* {
    padding: 0;
    margin: 0;
}


main{
    display:flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: #FFF;
}

.container{
    display: flex;
    width: 520px;
    padding-bottom: 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 160px;
    margin-left: 165px;
}

.container_celular{
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 160px;
    margin-left: 165px;
}

.container_icon12{
    display: flex;
    width: 255px;
    height: 138px;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin-top: 150px;
    margin-left: 165px;
}

.container_image_celular{
    display: flex;
    width: 540px;
    height: 524.31px;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    margin-top: 124px;
    margin-left: 165px;
}

.titulo_icon12{
    color: #091133;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 12px;
    width: 255px;
    height: 26px;
}

.titulo{
    color: #091133;
    font-family: "Red Rose";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.titulo_celular{
    color: #091133;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    width: 540px;
}

.texto{
    color: #6F7CB2;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.texto_celular{
    width: 540px;
    color: #6F7CB2;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.texto_icon12{
    width: 540px;
    color: #5D6970;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 255px;
    height: 54px;
}

.container_btn{
    width: 520px;
    height: 52px;
    display: flex;
    gap: 29.15px;
    align-items: flex-start;
    margin-left: 200px;
}

.btn{
    font-family: "Roboto";
    color: #FFF;
    font-size: medium 16px;
    font-style: normal;
    width: 150px;
    height: 34px;
    border-radius: 2px;
    background: #111B47;
    border-radius:3px;


    display: flex;
    justify-content: center;
    align-items: center;

    
    text-align: center;
}

.btn:hover {
    border: 3px solid #091133;
    background-color: white;
    color: #091133;
    border-radius: 3px;

    a{
        color: #091133;
    }
}

.image_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px; 
}

.icon{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 36px;
    height: 36px;
}